<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- Column 1: Contact Information -->
      <div class="footer-col footer-col-1">
        <h3>Get in touch</h3>
        <ul class="contact-list">
          <li>Email - <a class="u-email" href="mailto:info@propertymap.ie">info@propertymap.ie</a></li>
          <li>Facebook - <a href="https://www.facebook.com/profile.php?id=61566572423443" target="_blank" rel="noopener">Facebook</a></li>
        </ul>
      </div>
    </div>

    <!-- Copyright Message -->
    <div class="footer-bottom">
      <p>&copy; 2024 PropertyMap.ie. All rights reserved.</p>
    </div>

  </div>

</footer>
